body {
    font-family: sans-serif;
    height: 100vh;
    background-color: #f3f3f3;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

#contact {
    padding: 3em 2em 2em 2em;
    background-color: #f3f3f3;
    display: flex;
    gap: 100px;
    justify-content: center;
    justify-items: center;
}

.aside {
    height: 500px;
}

.aside ul li {
    width: auto;
    padding: 2em;
}

.aside h1 {
    font-size: 2.5em;
    display: flex;
    justify-content: center;
}

.aside h3 {
    max-width: 400px;
    line-height: 27px;
    color: #0D9276;
    margin: 1em 0 2em 0;
}

#contact-form {
    background: #fff;
    height: 580px;
    width: 450px;
    padding: 2.5em;
    border-radius: 10px;
    box-shadow: 0 0 2em rgb(113, 106, 106);
    display: flex;
    justify-content: center;
    justify-items: flex-start;
    flex-direction: column;
}

#contact input,
#contact #fmessage {
    border: none;
    padding: 0.8em;
    width: 100%;
    border-radius: 5px;
    margin: 0 0 1.85em 0;
    font-size: 1em;
    background: #eee;
    color: black;
}

#contact label {
    color: #a0a0a0;
    height: 5px;
}

#contact-form #fname {
    background-image: url('user-regular.svg');
    background-size: 13px;
    background-position: 15px 14px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

#contact-form #femail {
    background-image: url('envelope-regular.svg');
    background-size: 15px;
    background-position: 15px 15px;
    background-repeat: no-repeat;
    padding-left: 40px;

}

#contact-form #fmessage {
    resize: none;
    height: 8em;
    font-family: sans-serif;
    margin-bottom: 70px;
}

#contact-form input:focus,
#contact-form #fmessage:focus {
    outline: solid #40A2E3;
}

#contact-form input::placeholder,
#contact-form #fmessage::placeholder {
    color: #bababa;
    font-size: 15px;
}

#contact-form #cfSubmitBtn {
    border: none;
    cursor: pointer;
    width: 150px;
    padding: 0.8em;
    background-color: #40A2E3;
    border-radius: 8px;
    font-size: 1em;
    color: white;
    transition: 0.3s;
    margin-left: 225px;
}

#contact-form #cfSubmitBtn:hover {
    background-color: #200E3A;
}

/* ICONS ON CONTACT-FORM*/
#phoneNumber,
#liLocation {
    display: flex;
    gap: 15px;
}

#phnumber,
#plocation {
    width: 200px;
    padding-top: 5px;
}

/* NAVBAR */
.contactNavbar {
    height: 60px;
    background-image: linear-gradient(#BBE2EC, #f3f3f3);
}

.nav-container {
    width: 100%;
    height: 60px;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav-row {
    display: flex;
    gap: 80px;
    height: 60px;
}

.nav-main {
    display: inline-flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
}

/*nav-bar links Settings*/
a:link {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited,
a:active {
    color: black;
}

a:hover {
    color: #40A2E3;
}

/* sidebar for small screens */
#sidebarToggleBtn {
    background-color: transparent;
    border-color: transparent;
    right: 0px;
    top: 0px;
    width: 14px;
    height: 15px;
}

.sidebarCloseBtn {
    background-color: transparent;
    border-color: transparent;
    right: 0px;
    top: 0px;
    width: 14px;
    height: 15px;
}

@media screen and (max-width:700px) {
    .contactNavbar {
        width: 100%;
    }

    #contact {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }

    .aside {
        width: 90%;
        margin: auto;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aside h1 {
        width: fit-content;
        align-content: center;
    }

    .aside h3 {
        width: fit-content;
    }

    .contact-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: center;
        font-size: 12.5px;
    }

    #phoneNumber {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    #liLocation {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    #plocation {
        width: auto;
        padding: 0%;
    }

    #liSocialmedia {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    #phnumber {
        width: auto;
        padding: 0%;
    }

    #aSocialmedia {
        height: fit-content;
    }






}