body {
    font-family: sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

#contact {
    min-height: 100vh;
    padding: 2em;
    background-color: #FFF6E9;
    display: flex;
    gap: 100px;
    justify-content: center;
    justify-items: center;
}

.aside {
    height: 500px;
}

.aside ul li {
    width: auto;
    padding: 2em;
}

.aside h1 {
    font-size: 2.5em;
    display: flex;
    justify-content: center;
}

.aside h3 {
    max-width: 400px;
    line-height: 27px;
    color: #0D9276;
    margin: 1em 0 2em 0;
}

#contact-form {
    background: #fff;
    height: 580px;
    width: 450px;
    padding: 2.5em;
    border-radius: 10px;
    box-shadow: 0 0 2em rgb(113, 106, 106);
    display: flex;
    justify-content: center;
    justify-items: flex-start;
    flex-direction: column;
}

#contact input,
#contact #fmessage {
    border: none;
    padding: 0.8em;
    width: 100%;
    border-radius: 5px;
    margin: 0 0 1.85em 0;
    font-size: 1em;
    background: #eee;
    color: black;
}

#contact label {
    color: #a0a0a0;
    height: 5px;
}


#contact-form #fname {
    background-image: url('user-regular.svg');
    background-size: 13px;
    background-position: 15px 17px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

#contact-form #femail {
    background-image: url('envelope-regular.svg');
    background-size: 15px;
    background-position: 15px 18px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

#contact #fmessage {
    resize: none;
    height: 8em;
    font-family: sans-serif;
    margin-bottom: 70px;
}

#contact input:focus,
#contact #fmessage:focus {
    outline: solid #40A2E3;
}

#contact input::placeholder,
#contact #fmessage::placeholder {
    color: #bababa;
    font-size: 15px;
}

#contact #cfSubmitBtn {
    border: none;
    cursor: pointer;
    width: 150px;
    padding: 0.8em;
    background-color: #40A2E3;
    border-radius: 8px;
    font-size: 1em;
    color: white;
    transition: 0.3s;
    margin-left: 225px;
}

#contact button:hover {
    background-color: #200E3A;
}

@media screen and (max-width:512px) {
    #contact {
        font-size: 14px;
    }

}

.contactNavbar {
    height: 80px;
}

#phoneNumber,
#liLocation {
    display: flex;
    gap: 15px;
}

#phnumber,
#plocation {
    width: 200px;
    padding-top: 5px;
}